html{
  height: 100%;
}

#dtView{
  width: 100%;
  height: 100%;
  margin: 0;
  top: 100%;
  opacity: 0;
  transition: top 0.15s, opacity 0.15s;
}

#dtView.show{
  top: 0;
  opacity: 1;
}

#ctView{
  width: 100%;
  height: 100%;
  margin: 0;
  top: 100%;
  opacity: 0;
  transition: top 0.15s, opacity 0.15s;
}

#ctView.show{
  top: 0;
  opacity: 1;
}

#filterView{
  width: 100%;
  height: 100%;
  margin: 0;
  top: 100%;
  opacity: 0;
  transition: top 0.15s, opacity 0.15s;
}

#filterView.show{
  top: 0;
  opacity: 1;
}